<div class="container">
    <div class="row">
        <section class="col-12 pt-4">
            <h2 class="text-uppercase font-weight-bold pb-3">Quienes Somos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam imperdiet nunc sit amet finibus. Etiam a dui vel purus semper tempus nec id metus. Donec dictum molestie pharetra. Donec in massa sed velit elementum accumsan. Donec vulputate libero justo, ut blandit ex scelerisque ut. Maecenas id nibh nunc. Etiam in metus id enim tempus aliquam. Morbi hendrerit nisl eu nulla pretium sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam varius sollicitudin bibendum. Mauris pulvinar lorem mollis, vulputate leo sit amet, malesuada dolor. Pellentesque eu eros nec enim dictum facilisis nec id augue. Nunc orci velit, interdum sit amet nibh eu, finibus sodales mi. Mauris pharetra odio nulla, ac venenatis ex tristique vitae. Integer eu tempus leo, sit amet facilisis libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam imperdiet nunc sit amet finibus. Etiam a dui vel purus semper tempus nec id metus. Donec dictum molestie pharetra. Donec in massa sed velit elementum accumsan. Donec vulputate libero justo, ut blandit ex scelerisque ut. Maecenas id nibh nunc. Etiam in metus id enim tempus aliquam. Morbi hendrerit nisl eu nulla pretium sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam varius sollicitudin bibendum. Mauris pulvinar lorem mollis, vulputate leo sit amet, malesuada dolor. Pellentesque eu eros nec enim dictum facilisis nec id augue. Nunc orci velit, interdum sit amet nibh eu, finibus sodales mi. Mauris pharetra odio nulla, ac venenatis ex tristique vitae. Integer eu tempus leo, sit amet facilisis libero.</p>
            <%= link_to  "Contacto", {controller: "pages", action: "contact"}, class: 'btn btn-danger px-4' %>
        </section>

        <div class="col-12 pt-4 mb-5">
            <figure class="img-nosotros">
                <%= image_tag("consolas.jpg", class:"img") %>
            </figure>
        </div>
    </div>
</div>
