<%= render 'shared/carrusel'%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 py-4">
        <h2 class="text-uppercase font-weight-bold pb-3">Contáctenos</h2>
            <form>
                <div class="form-group">
                    <label  class="pb-0 mb-0" for="exampleInputPassword1">Nombre</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label class="pb-0 mb-0" for="exampleInputPassword1">Apellido</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label class="pb-0 mb-0" for="exampleInputEmail1">Correo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="pb-0 mb-0" for="exampleInputEmail1">Telefono</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-danger px-4">Enviar</button>
            </form>
            <p class="pt-4">Para un mejor trato envianos tus dudas en <a class="text-danger" href="maito:videojuegos@video.cl"> videojuegos@video.cl</a></p>
        </div>
    </div>
</div>
